<script setup lang="ts">
import { SearchIcon } from '@/assets/icons/index'
</script>

<template>
  <div class="ui-input">
    <input class="ui-input__input" type="text" placeholder="Поиск...">
    <SearchIcon class="ui-input__search-icon" />
  </div>
</template>

<style scoped lang="scss">
.ui-input {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 18px;
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #d3d9e0;
  border-radius: 8px;

  &::placeholder {
    color: #d3d9e0;
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;
  }

  &__search-icon {
    position: relative;
    left: -12px;
    color: #636c77;
  }
}
</style>
