<script setup lang="ts">
import UIButton from '@/components/ui/UIButton/UIButton.vue'
import UIInput from '@/components/ui/UIInput/UIInput.vue'
import { FilterIcon } from '@/assets/icons/index'
</script>

<template>
  <div class="filters">
    <UIButton
      class="filters__filter-button"
      color="gray"
    >
      Фильтры
      <FilterIcon class="filters__filter-icon" />
    </UIButton>
    <UIInput class="filters__input" />
  </div>
</template>

<style scoped lang="scss">
.filters {
  display: flex;
  flex-grow: 1;

  &__filter-button {
    margin-right: 12px;
    color: #2b2d31;
  }

  &__filter-icon {
    margin-left: 8px;
    height: 24px;
    width: 24px;
  }

  &__input {
    flex-basis: 600px;
  }
}
</style>
