<script setup lang="ts">
import { EditIcon } from '~/assets/icons'

defineProps({
  item: {
    type: Object as any,
  },
})

const hover = ref(false)

function updateHover(val: boolean) {
  hover.value = val
}
</script>

<template>
  <div
    class="table-row"
    :class="{ 'table-row--hovered': hover }"
    @mouseenter="updateHover(true)"
    @mouseleave="updateHover(false)"
  >
    <div class="table-row__cell table-row__cell--wide">
      <TableEdit>
        <div class="table-row__main editable">
          {{ item.name }}
          <EditIcon
            v-show="hover"
            class="table-row__edit-icon"
          />
        </div>
      </TableEdit>
      <TableEdit>
        <div class="table-row__additional editable">
          {{ item.address }}
          <EditIcon
            v-show="hover"
            class="table-row__edit-icon"
          />
        </div>
      </TableEdit>
    </div>

    <div class="table-row__cell table-row__cell--wide">
      <TableEdit>
        <div class="table-row__main editable">
          {{ item.address }}
          <EditIcon
            v-show="hover"
            class="table-row__edit-icon"
          />
        </div>
      </TableEdit>
    </div>

    <div class="table-row__cell table-row__cell--narrow">
      <DataPicker>
        <div class="table-row__main editable">
          {{ item.date }}
          <EditIcon
            v-show="hover"
            class="table-row__edit-icon"
          />
        </div>
      </DataPicker>
    </div>

    <div class="table-row__cell table-row__cell--narrow table-row__cell--status">
      <span class="table-row__main table-row__status">
        <span
          class="table-row__status-indicator"
          :class="{
            'table-row__status-indicator--red': item.workersActive === 0,
            'table-row__status-indicator--yellow': item.workersActive > 0 && item.workersActive < item.workersTotal,
            'table-row__status-indicator--green': item.workersActive === item.workersTotal,
          }"
        />
        {{ item.workersActive }} из {{ item.workersTotal }}
      </span>
    </div>

    <div class="table-row__cell table-row__cell--narrow table-row__cell--status">
      <span class="table-row__main table-row__status table-row__main--gray">
        <span
          class="table-row__status-indicator table-row__status-indicator--gray"
        />
        {{ item.status ? item.status : 'Неизвестно' }}</span>
    </div>
    <div class="table-row__cell table-row__cell--menu">
      <slot />
    </div>
  </div>
</template>

<style scoped lang="scss">
.table-row {
  padding-left: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #d3d9e0;

  &--hovered {
    background-color: #f6f8fa;
    cursor: pointer;
  }

  &__cell {
    box-sizing: border-box;
    margin-right: 30px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;

    &--wide {
      flex-basis: 350px;
    }

    &--narrow {
      flex-basis: 150px;
    }

    &--status {
      padding-left: 15px;
    }

    &--menu {
      margin-left: auto;
      display: flex;
      width: 24px;
      margin-right: 24px;
      align-items: center;
    }
  }

  &__main {
    line-height: 19px;
    transition: color ease 0.1s;

    &--gray {
      color: #636c77;
    }

    &.editable {
      display: flex;
      align-items: center;

      &:hover {
        color: #8bb53e;
      }
    }
  }

  &__edit-icon {
    margin-left: 10px;
    width: 14px;
    height: 14px;
  }

  &__additional {
    margin-top: 8px;
    font-size: 12px;
    color: #636c77;
    font-weight: 400;
    transition: color ease 0.1s;

    &.editable {
      display: flex;
      align-items: center;

      &:hover {
        color: #8bb53e;
      }
    }
  }

  &__editable {
    &:hover {
      color: #8bb53e;
    }
  }

  &__status {
    position: relative;
  }

  &__status-indicator {
    position: absolute;
    top: 6px;
    left: -15px;
    width: 7px;
    height: 7px;
    border-radius: 50%;

    &--red {
      background-color: #e02b2b;
    }

    &--yellow {
      background-color: #eac233;
    }

    &--green {
      background-color: #8bb53e;
    }

    &--gray {
      background-color: #a0abb7;
    }
  }
}
</style>
