<script setup lang="ts">
import { onClickOutside } from '@vueuse/core'
import UIInput from '@/components/ui/UIInput/UIInput.vue'

const isSelectShown = ref(false)
const selectuRef = ref(null)

function toggleVisible() {
  isSelectShown.value = !isSelectShown.value
}

function hideSelect() {
  isSelectShown.value = false
}

onClickOutside(selectuRef, hideSelect)
</script>

<template>
  <div ref="selectuRef" class="table-edit">
    <div class="table-edit__value" @click="toggleVisible">
      <slot />
    </div>
    <div v-if="isSelectShown" class="table-edit__select">
      <UIInput class="table-edit__select-search" />
      <div class="table-edit__select-list">
        <div class="table-edit__select-option table-edit__select-option--selected">
          Филиппов Артем Дмитриевич
        </div>
        <div class="table-edit__select-option">
          Петров Василий Иванович
        </div>
        <div class="table-edit__select-option">
          Денис Анатольевич Коваленко
        </div>
        <div class="table-edit__select-option">
          Филиппов Артем Дмитриевич
        </div>
        <div class="table-edit__select-option">
          Дмитриев Валерий Васильевич
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.table-edit {
  position: relative;

  &__select {
    box-sizing: border-box;
    padding: 16px;
    position: absolute;
    top: 32px;
    display: flex;
    flex-direction: column;
    width: 281px;
    background-color: #fff;
    box-shadow: 0px 14px 30px 0px #4149532b;
    border-radius: 12px;
    z-index: 1;
  }

  &__select-search {
    margin-bottom: 20px;
  }

  &__select-option {
    margin-bottom: 20px;
    transition: color ease 0.2s;

    &:hover {
      color: #8bb53e;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--selected {
      color: #8bb53e;
    }
  }
}
</style>
