<script setup lang="ts">
import UIPagination from '@/components/ui/UIPagination/UIPagination.vue'
import TableRow from '@/components/Table/TableRow.vue'

defineProps({
  list: {
    type: Array as any,
  },
})

const sort = [
  'clientAndWorkplace',
  'tarif',
  'dates',
]

const columns = [
  {
    lable: 'Клиент и место работы',
    sort: 'clientAndWorkplace',
  },
  {
    lable: 'Тариф',
    sort: 'tarif',
  },
  {
    lable: 'Даты',
    sort: 'dates',
  },
  {
    lable: 'Исполнители',
    sort: null,
  },
  {
    lable: 'Статус выплат',
    sort: null,
  },
]

const filterState = ref({
  page: 1,
  per_page: 15,
  order_by: null,
  order_direction: null,
})

function updateFilter(filter: object) {
  Object.assign(filterState.value, { ...filter, page: 1 })
}
</script>

<template>
  <div class="table">
    <div class="table__top-row">
      <Filters />
      <slot />
    </div>
    <TableHead
      :sort="sort"
      :columns="columns"
      :filter="filterState"
      @update:filter="updateFilter"
    />
    <div class="table-body">
      <TableRow
        v-for="item in list"
        :key="item.id"
        :item="item"
      >
        <ContextMenu />
      </TableRow>
    </div>
    <div class="table__bottom-row">
      <UIPagination />
    </div>
  </div>
</template>

<style scoped lang="scss">
.table {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;

  &__top-row,
  &__bottom-row {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
  }

  &__top-row {
    padding-bottom: 32px;
  }

  &__bottom-row {
    padding-top: 24px;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
