<script setup lang="ts">
const props = defineProps({
  sort: {
    type: Array,
    default: () => [],
  },
  columns: {
    type: Array as any,
    default: () => [],
  },
  filter: {
    type: Object as any,
    default: () => {},
  },
})

const emit = defineEmits({
  'update:filter': (v: object) => typeof v === 'object',
})

function updateFilter(v: object) {
  emit('update:filter', v)
}
</script>

<template>
  <div class="table-head">
    <div
      v-for="column in columns"
      :key="column"
      class="table-head__item"
    >
      <TableSort
        v-if="column.sort"
        :filter="filter"
        :name="column.sort"
        @update:filter="updateFilter"
      >
        {{ column.lable }}
      </TableSort>
      <div
        v-else
        class="table-head__item"
      >
        {{ column.lable }}
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.table-head {
  padding: 12px 24px;
  display: flex;
  justify-content: flex-start;
  background-color: #f6f8fa;

  &__item {
    box-sizing: border-box;
    margin-right: 30px;
    display: flex;
    flex-basis: 150px;

    &:nth-child(1),
    &:nth-child(2) {
      flex-basis: 350px;
    }
  }
}
</style>
