<script setup lang="ts">
import { computed } from 'vue'

const { color } = defineProps({
  color: String,
})

const classes = computed(() => ({
  'ui-button--green': color === 'green',
  'ui-button--green-border': color === 'green-border',
  'ui-button--gray': color === 'gray',
}))
</script>

<template>
  <div
    class="ui-button"
    :class="classes"
  >
    <slot />
  </div>
</template>

<style scoped lang="scss">
.ui-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 14px 16px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  transition: background-color 0.4s ease;
  cursor: pointer;

  &--green {
    background-color: #8bb53e;
    color: #fff;

    &:hover {
      background-color: #7ea536;
    }
  }

  &--green-border {
    border-color: #8bb53e;

    &:hover {
      background-color: #7ea536;
      color: #fff;
    }
  }

  &--gray {
    background-color: #f6f8fa;

    &:hover {
      background-color: #7ea536;
      color: #fff;
    }
  }
}
</style>
