<script setup lang="ts">
import { onClickOutside } from '@vueuse/core'
import { DotsHorizontalIcon, TrashIcon, UserIcon } from '@/assets/icons/'

const menuRef = ref(null)
const isMenuVisible = ref(false)

function toggleVisible() {
  isMenuVisible.value = !isMenuVisible.value
}

function hideMenu() {
  isMenuVisible.value = false
}
onClickOutside(menuRef, hideMenu)
</script>

<template>
  <div
    ref="menuRef"
    class="context-menu"
  >
    <button
      class="context-menu__button"
      @click="toggleVisible"
    >
      <DotsHorizontalIcon />
    </button>
    <div
      v-if="isMenuVisible"
      class="context-menu__menu"
    >
      <div class="context-menu__menu-item context-menu__menu-item--workers">
        <UserIcon class="context-menu__menu-item-icon" />
        Исполнители
      </div>
      <div class="context-menu__menu-item context-menu__menu-item--delete">
        <TrashIcon class="context-menu__menu-item-icon" />
        Удалить
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.context-menu {
  display: flex;
  position: relative;

  &__button {
    width: 24px;
    height: 24px;
  }

  &__menu {
    position: absolute;
    bottom: 30px;
    right: -40px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 7px 0px #282d330f;

    &-item {
      padding: 8px;
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      border-radius: 8px;

      &:hover {
        background-color: #f6f8fa;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-icon {
        margin-right: 16px;
      }

      &--workers {
        .context-menu__menu-item-icon {
          color: #636c77;
        }
      }

      &--delete {
        color: #e02b2b;
      }
    }
  }
}
</style>
