<script setup lang="ts">
import { SortDownIcon, SortIcon, SortUpIcon } from '@/assets/icons/index'

const props = defineProps({
  name: {
    type: String as any,
    required: true,
  },
  filter: {
    type: Object as any,
    default: () => ({}),
  },
})

const emit = defineEmits({
  'update:filter': (v: object) => typeof v === 'object',
})

const stateDirection = computed(() =>
  props.filter.order_by === props.name
    ? props.filter.order_direction
    : undefined,
)

function toggleDirection() {
  let direction = stateDirection.value
  if (direction === 'asc')
    direction = 'desc'
  else if (direction === 'desc')
    direction = undefined
  else
    direction = 'asc'

  emit('update:filter', {
    ...props.filter,
    order_by: direction ? props.name : undefined,
    order_direction: direction,
  })
}
</script>

<template>
  <div
    class="table-sort"
    @click="toggleDirection"
  >
    <slot />
    <div class="table-sort__icon">
      <SortDownIcon v-if="stateDirection === 'desc'" />

      <SortUpIcon v-else-if="stateDirection === 'asc'" />

      <SortIcon v-else />
    </div>
  </div>
</template>

<style scoped lang="scss">
.table-sort {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__icon {
    margin-left: 4px;
  }
}
</style>
