<template>
  <main class="main">
    <slot />
  </main>
</template>

<style scoped lang="scss">
.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 40px;
  background-color: #eff2f5;
  min-height: 100cqh;
}
</style>
