<script setup lang="ts">
import UIButton from '@/components/ui/UIButton/UIButton.vue'
import { DownloadIcon, PlusIcon } from '@/assets/icons/index'

import table from '@/composables/table.json'
</script>

<template>
  <Table
    :list="table.list"
  >
    <div class="buttons">
      <UIButton
        class="buttons__download-excel"
        color="gray"
      >
        Скачать Excel
        <DownloadIcon class="buttons__icon" />
      </UIButton>

      <UIButton
        class="buttons__add-order"
        color="green"
      >
        Добавить заказ
        <PlusIcon class="buttons__icon" />
      </UIButton>
    </div>
  </Table>
</template>

<style scoped lang="scss">
.buttons {
  margin-left: 12px;
  display: flex;

  &__add-order {
    margin-left: 12px;
  }

  &__icon {
    margin-left: 12px;
  }
}
</style>
