<script setup lang="ts">
import UIPages from '@/components/ui/UIPagination/UIPages.vue'
import UIPageCountSelector from '@/components/ui/UIPagination/UIPageCountSelector.vue'

const perPage = ref()
const page = ref()

function onPerPageChange(v: number) {
  perPage.value = v
}

function onPageChange(v: number) {
  page.value = v
}
</script>

<template>
  <div class="ui-pagination">
    <div class="ui-pagination__block ui-pagination__block--left">
      <div class="ui-pagination__info">
        Показано с 1 по 50 из 1592 результатов
      </div>
    </div>
    <div class="ui-pagination__block ui-pagination__block--center">
      <UIPages
        :model-value="page"
        @update:model-value="onPageChange"
      />
    </div>
    <div class="ui-pagination__block ui-pagination__block--right">
      <UIPageCountSelector
        :model-value="perPage"
        @update:model-value="onPerPageChange"
      />
    </div>
  </div>
</template>

<style scoped lang="scss">
.ui-pagination {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  &__block {
    flex-basis: calc(100% / 3);

    &--center {
      display: flex;
      justify-content: center;
    }

    &--right {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__info {
    font-size: 16px;
    color: #636c77;
  }
}
</style>
