<script setup lang="ts">
import { onClickOutside } from '@vueuse/core'
import { ArrowDownIcon } from '@/assets/icons/index'

const { modelValue, label, options } = defineProps({
  modelValue: {
    type: Number,
    default: 15,
  },

  label: {
    type: String,
    default: 'Показывать по',
  },

  options: {
    type: Array as PropType<number[]>,
    default: () => [15, 20, 50, 100],
  },
})

const emit = defineEmits<{
  'update:modelValue': [v: number]
}>()

const isMenuVisible = ref(false)
const menuRef = ref(null)

function toggleVisible() {
  isMenuVisible.value = !isMenuVisible.value
}

onClickOutside(menuRef, hideMenu)

function hideMenu() {
  isMenuVisible.value = false
}

function changeValue(v: number) {
  emit('update:modelValue', v)
}
</script>

<template>
  <div
    class="ui-page-count"
    :class="{ 'ui-page-count--active': isMenuVisible }"
  >
    <div class="ui-page-count__text">
      {{ label }}
    </div>
    <div class="ui-page-count__selector">
      <button
        ref="menuRef"
        class="ui-page-count__select-button"
        @click="toggleVisible"
      >
        {{ modelValue }}
        <ArrowDownIcon class="ui-page-count__arrow-icon" />
      </button>
      <div
        v-show="isMenuVisible"
        class="ui-page-count__menu"
      >
        <button
          v-for="option in options"
          :key="option"
          :value="option"
          class="ui-page-count__menu-item"
          @click="changeValue(option)"
        >
          {{ option }}
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.ui-page-count {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &--active {
    .ui-page-count__arrow-icon {
      transform: rotateX(180deg);
    }
  }

  &__selector {
    margin-left: 12px;
    position: relative;
  }

  &__select-button {
    padding: 16px 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 48px;
    border: 1px solid #d3d9e0;
    border-radius: 12px;
  }

  &__arrow-icon {
    margin-left: 36px;
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &__menu {
    box-sizing: border-box;
    padding: 4px;
    position: absolute;
    bottom: 52px;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    box-shadow:
      0 0 1px 0 rgba(13, 13, 34, 0.04),
      0 2px 6px 0 rgba(13, 13, 34, 0.04),
      0 16px 24px 0 rgba(13, 13, 34, 0.06);

    &-item {
      padding: 10px;
      margin-bottom: 4px;
      border-radius: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: #ebf5ff;
      }
    }
  }
}
</style>
