<script setup lang="ts">
import { useVModel } from '@vueuse/core'
import { ArrowRightIcon } from '@/assets/icons/index'

const props = defineProps({
  modelValue: {
    type: Number,
    default: 1,
  },
})

const emit = defineEmits<{
  'update:modelValue': [v: number]
}>()

const renderPages = [1, 2, 3, 4, 5]
const currentPage = useVModel(props, 'modelValue', emit)
const paginationLength = renderPages.length

function nextPage() {
  currentPage.value++
}

function previousPage() {
  currentPage.value--
}

function onChangePage(page: number) {
  currentPage.value = page
}
</script>

<template>
  <div class="ui-pages">
    <button
      v-if="currentPage > 1"
      class="ui-pages__previous-page"
      @click="previousPage"
    >
      <ArrowRightIcon />
    </button>
    <button
      v-for="page in renderPages"
      :key="page"
      :class="{ 'ui-pages__page--current': page === currentPage }"
      class="ui-pages__page"
      @click="onChangePage(page)"
    >
      {{ page }}
    </button>
    <button
      v-if="currentPage < paginationLength"
      class="ui-pages__next-page"
      @click="nextPage"
    >
      <ArrowRightIcon />
    </button>
  </div>
</template>

<style scoped lang="scss">
.ui-pages {
  display: flex;

  &__page {
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    height: 48px;
    border-radius: 8px;
    color: #2b2d31;
    transition: background-color 0.2s ease;

    &--current {
      color: #fff;
      background-color: #a0abb7;
      &:hover {
        background-color: #a0abb7;
      }
    }

    &:hover {
      background-color: #ebf5ff;
    }
  }

  &__previous-page {
    transform: rotate(180deg);
  }
}
</style>
